<html>
  <head>
    <title>Scrapping zelda</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<header>
	<button type="" name="button" data-action="scrap">Actualiser</button>
</header>